<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组件之间通信</title>
</head>
<body>
    <div id="app">
        <parent></parent>
    </div>
<script src="../vue.min.js"></script>
<script>
    Vue.component("parent",{
        data:function () {
            return {
                userList:["tom","amy","daMing"]
            }
        },
        template:
            '<div>' +
            '   <ul><li v-for="item in userList">{{item}}</li></ul>' +
            '   <child></child>' +
            '</div>'
    });
    Vue.component("child",{
        data:function () {
            return {
                userName:""
            }
        },
        template:
            '<div>' +
            '<input type="text" v-model="userName">' +
            '<button @click="addData">添加</button>' +
            '</div>',
        methods:{
            addData:function () {
                //将用户名添加到父元素列表
                this.$parent.userList.push(this.userName);
                //清空当前元素
                this.userName = "";
            }
        }
    });

    new Vue({
        el:"#app"
    })
</script>
</body>
</html>